@import "../../index";

@mixin hover{
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px 10px;

}
.true{
  color: $primary-purple;
  &:hover{
    @include hover
  }
}
.false{
  color: $dark-purple;
  &:hover{
    @include hover
  }
}
